.tasks {
	a {
		text-decoration: none;
	}

	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;

		padding-bottom: 12px;
		border-bottom: 1px solid #f2f2f2;

		&:hover path {
			opacity: 0.5;
		}
	}

	&__title-edit {
		cursor: pointer;
		margin-left: 10px;

		&:hover path {
			opacity: 1;
		}
	}

	&__title-edit path {
		fill: #9d9d9d;
		opacity: 0;
		transition: 0.3s all ease;
	}

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__sub-title {
		// text-align: center;
		padding-top: 12px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 24px;
		// line-height: 39px;
		color: #e8e8e8;
	}

	&__items-item {
		padding: 4px 0;
		display: flex;
		align-items: center;
		gap: 8px;

		&:hover &-edit path,
		&:hover &-delete path {
			opacity: 0.5;
		}

		p {
			flex: 1;
			border: none;
			font-size: 16px;
		}

		.complete {
			text-decoration: line-through;
			color: #9d9d9d;
		}

		&-edit,
		&-delete {
			cursor: pointer;
		}

		&-edit:hover path,
		&-delete:hover path {
			opacity: 1 !important;
		}

		&-edit path,
		&-delete path {
			fill: #9d9d9d;
			opacity: 0;
			transition: 0.3s all ease;
		}

		&__items-item:first-child {
			padding: 12px 0 4px;
		}

		.checkbox {
			input {
				display: none;
			}

			label {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 2px solid #e8e8e8;
				width: 20px;
				height: 20px;
				border-radius: 30px;
				transition: 0.3s all ease;

				svg path {
					transition: 0.3s all ease;
				}
			}

			input:hover + label {
				background-color: #e8e8e8;
				border-color: #e8e8e8;

				& svg path {
					stroke: #b2b2b2;
				}
			}

			input:checked + label {
				background-color: #4dd599;
				border-color: #4dd599;

				& svg path {
					stroke: #fff;
				}
			}
		}
	}
}
