.todo {
	// margin: 40px 0;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// width: 500px;
	// min-height: 530px;
	// transform: translate(-50%);
	display: flex;
	width: 100%;
	box-shadow: 1px 2px 10px #ebebeb;
	border-radius: 10px;
	border: 1px solid #f1f1f1;
	font-size: 14px;

	&__sidebar {
		display: flex;
		flex-direction: column;
		width: 40%;
		height: 100%;
		background-color: #f4f6f8;
		border-right: 1px solid #f1f1f1;
		padding: 60px 20px 20px;
		border-radius: 9px 0 0 9px;

		&--lists-loading {
			color: #868686;
			margin: 0 0 30px 20px;
		}
	}

	&__tasks {
		width: 60%;
		height: 100%;
		padding: 60px 20px;
	}
}
