.color {
	&--grey {
		color: #c9d1d3;
	}

	&--green {
		color: #42b883;
	}

	&--blue {
		color: #64c4ed;
	}

	&--pink {
		color: #ffbbcc;
	}

	&--lime {
		color: #b6e6bd;
	}

	&--purple {
		color: #c355f5;
	}

	&--black {
		color: #6d2cff;
	}

	&--red {
		color: #ff6464;
	}

	&--bg-grey {
		background-color: #c9d1d3;
	}

	&--bg-green {
		background-color: #42b883;
	}

	&--bg-blue {
		background-color: #64c4ed;
	}

	&--bg-pink {
		background-color: #ffbbcc;
	}

	&--bg-lime {
		background-color: #b6e6bd;
	}

	&--bg-purple {
		background-color: #c355f5;
	}

	&--bg-black {
		background-color: #6d2cff;
	}

	&--bg-red {
		background-color: #ff6464;
	}
}
